@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: hsl(0, 0%, 8%);
    color: white;
    width: 100%;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 375px;
    padding: 30px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 12%);
    text-align: center;
}

img{
    width: 100px;
    margin: 10px 0;
    border-radius: 50%;
}

h1{
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 10px;
}

h3{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 30px;
    color:hsl(75, 94%, 57%);
}

p{
    font-size: 14px;
    margin-bottom: 30px;
}

ul{
    list-style: none;
}

ul li a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
    background-color: hsl(0, 0%, 20%);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

ul li a:hover{
    background-color: hsl(0, 0%, 30%);
}

ul li a:active{
    background-color: hsl(75, 94%, 57%);
    color:black;
}
