
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}

::-webkit-scrollbar {
    width: 4px;
}


body{
    background: radial-gradient(circle at center, #F7CBFD, #7758D1);
    height: 100vh;
    font-family: "Lato", sans-serif;
    color:white;
}


nav>div::after{
    content: "";
    display: block;
    position: absolute;
    height: 600px;
    width: 70px;
    top:0;
    z-index: -1;
    right: 0px;
    background: url(../assets/img/nav.svg) no-repeat;
    background-size: cover;
}

nav>div>a:hover::before, nav>div>a.active::before{
    content: "";
    display: block;
    position: absolute;
    height: 38px;
    width: 9px;
    top:0;
    z-index: 10;
    left: -15px;
    background: url(../assets/icons/active-nav.svg) no-repeat;
    background-size: cover;
}

nav>div>a:hover::after, nav>div>a.active::after{
    content: "";
    position: absolute;
    background:linear-gradient(45deg, #00DAEA 10%, #1D138B 50%, #C441F4 40%);
    filter: blur(5px);
    inset:0;
    margin: auto;
    z-index: -1;
    width: 40px;
    height: 40px;
}


.manchas::after{
    content: "";
    position: absolute;
    background:linear-gradient(45deg, #00DAEA 10%, #1D138B 50%, #C441F4 40%);
    filter: blur(15px);
    inset:0;
    margin: auto;
    z-index: -1;
    width: 250px;
    height: 50px;
}

.options>div:hover::before,.options>div.active::before{
    content: "";
    z-index: 10;
    position: absolute;
    height: 10px;
    width: 30px;
    transform: translate(-20%, -310%);
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    background-color: #634f9b;
}

.options>div:hover::after, .options>div.active::after{
    content: "";
    background:url(../assets/icons/poligon.svg) no-repeat center;
    background-size: cover;
    position: absolute;
    width: 40px;
    height: 43px;
    transform: translate(-25%, -70%);
}

.banner{
    background: url(../assets/img/banner.svg) no-repeat center;
    background-size: cover;
}

.profile div:not(.photo){
    width: 220px;
    height: 220px;
    position: absolute;
    top:0;
    left: 0;
    background: url(../assets/img/poligon.svg) no-repeat center;
    background-size: cover;
}