#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  max-height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.card div{
  display: flex;
  gap:10px;
}

.read-the-docs {
  color: #888;
}

nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.user{
  font-size:25px;
  font-weight: bold;
}

ul{
  list-style-type: none;
  padding:0;
  display:flex;
  justify-content: center;
  gap:10px;
  font-weight: 600;
}


input{
  padding: 10px 20px;
  font-size: 18px;
  outline:none;
  border-radius:20px;
  border:none;
}

.add{
  margin:5px;
}

form{
  display:flex;
  justify-content:center;
  align-items: center;
  gap:10px;
}

.tasks{
  display:flex;
  flex-direction:column;
}

.error{
  color:rgba(168, 62, 62, 0.973);
  font-weight: 600;
}

.card>div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap:30px;
}

.title-task{
  font-size: 25px;
  font-weight: 600;
}

.tasks>p{
  border-bottom: 1px solid white;
  padding:2px 0;
  padding-bottom: 5px;
  font-weight: 600;
  transition: background-color 0.2s ease;
  border-radius: 20px;
  cursor: pointer;
}

.tasks>p:hover{
  background-color: #f1f1f1;
  color:black;
}
.counter{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}