@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");


/* Barlow: 600 */
/* Fraunces: 700, 900 */

:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-cyan: hsl(167, 40%, 24%);
  --photography-text: hsl(198, 62%, 26%);
  --footer: hsl(168, 34%, 41%);
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
}

.nav {
  background-color: rgb(62, 190, 255);
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.btn-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu {
  display: none;
}

main {
  background: url(../assets/mobile/image-header.jpg);
  height: 70vh;
}

section > img {
  display: none;
}

h1 {
  text-transform: uppercase;
  color: white;
  font-size: 60px;
  letter-spacing: 3px;
  text-align: center;
  padding: 35px 20px 0;
}

.arrow-down {
  display: block;
  margin: auto;
  height: 160px;
  margin-top: 40px;
}

.bg-egg {
  background: url(../assets/mobile/image-transform.jpg);
}

.container-section {
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-section > div > h2 {
  font-size: 38px;
  text-align: center;
  margin-bottom: 15px;
  color: var(--very-dark-desaturated-blue);
}

.container-section > div > p {
  color: var(--dark-grayish-blue);
  line-height: 1.5rem;
}

.link-learn {
  width: fit-content;
  position: relative;
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin: auto;
  margin-top: 10px;
  text-decoration: none;
  color: var(--very-dark-desaturated-blue);
}

.link-learn::after {
  content: "";
  opacity: 0.2;
  width: 100%;
  border-radius: 50px;
  height: 10px;
  position: absolute;
  bottom: -3px;
  left: 0;
}

.link-learn:nth-child(1)::after{
  background-color: var(--yellow);
}

.link-learn.cup::after{
  background-color: var(--soft-red);
}

.bg-cup {
  background: url(../assets/mobile/image-stand-out.jpg);
}


.bg-cherry {
  background: url(../assets/mobile/image-graphic-design.jpg);
  height: 80vh;
  width: 100%;
  color: var(--dark-cyan);
  align-items: end;
  justify-content: center;
}

.section-description {
  margin-bottom:80px;
  padding:0 30px;
}
.section-description > h2 {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
}

.section-description > p {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.5rem;
}

.bg-orange {
  background: url(../assets/mobile/image-photography.jpg);
  height: 80vh;
  width: 100%;
  color: var(--photography-text);
  align-items: end;
  justify-content: center;
}

.testimonials {
  padding: 60px 30px;
}

.testimonials > h2 {
  margin-bottom:40px;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--grayish-blue);
}

.testimonials > div {
  width: 100%;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: center;
}

.testimonials > div > div {
  width: 80%;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.testimonials > div > div > p {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5rem;
  color: var(--very-dark-grayish-blue);
}

.testimonials > div > div > img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.profile {
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.profile > h3 {
  font-size: 20px;
  font-weight: 900;
  color: var(--very-dark-desaturated-blue);
}

.profile > p {
  color: var(--grayish-blue);
  font-size: 14px;
}

.img-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.img-gallery > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  background-color: #86cdbf;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
}

footer > div {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.socials {
  flex-direction: row;
}

footer > div > img {
  width: 150px;
  filter: invert(45%) sepia(4%) saturate(6169%) hue-rotate(117deg) brightness(82%) contrast(87%);
}

footer > div > ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

footer > div > ul > li > a {
  font-size: 18px;
  text-decoration: none;
  color: var(--footer);
  font-weight: 600;
}

/* sm */
@media (min-width: 640px) {
  h1 {
    font-size: 90px;
    padding: 40px 50px 0;
  }
}

/* md */
@media (min-width: 768px) {
  main {
    height: 80vh;
  }
}

/* lg */
@media (min-width: 1024px) {
  main {
    background: url(../assets/desktop/image-header.jpg);
    height: 90vh;
  }
}

/* xl */


/* xxl */
@media (min-width: 1536px) {
}
